@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'toastr';

.avatar_small {
  width: 12%;
}

.avatar_medium {
  width: 24%;
}

.avatar_large {
  width: 36%;
}

.avatar_full {
  width: 48%;
}
